<div class="dashboard-container">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                @if (user()) { Welcome, {{ user()?.firstName }}! } @else {
                <div class="card-loader">
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
                }
            </mat-card-title>

            @if (user()) {
            <mat-card-subtitle
                >{{ user()?.firstName }} {{ user()?.lastName }} ({{
                    user()?.email
                }})</mat-card-subtitle
            >
            }
        </mat-card-header>

        <mat-card-content>
            <p>Here you can see your active tasks or post a new one.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card create-task-card">
        <mat-card-header>
            <mat-card-title>Post a New Gig</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-create-task
                [currentUser]="user()"
                (taskCreated)="refreshTaskLists()"
            ></app-create-task>
        </mat-card-content>
    </mat-card>

    <mat-tab-group
        class="dashboard-card full-width-card"
        animationDuration="500ms"
        (selectedTabChange)="selectedTabIndex.set($event.index)"
    >
        <mat-tab label="All Gigs">
            @if (selectedTabIndex() === 0) {
            <app-task-list [tasks]="allTasks()" [isLoading]="allTasksLoading()"> </app-task-list>
            }
        </mat-tab>

        <mat-tab label="My Posted Gigs">
            @if (selectedTabIndex() === 1 && user()) {
            <app-task-list [tasks]="myTasks()" [isLoading]="myTasksLoading()"></app-task-list>
            }
        </mat-tab>
        <mat-tab label="My Bids">
            @if (selectedTabIndex() === 2 && user()) {
            <app-my-bids [bids]="myBids()" [isLoading]="myBidsLoading()"> </app-my-bids>
            }
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_balance_wallet</mat-icon>
                My Wallet
            </ng-template>
            <div class="tab-content">
                <!-- Lazy render: Only show when tab index is 3 -->
                @if (selectedTabIndex() === 3) {
                <app-wallet-component></app-wallet-component>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
