<mat-stepper [linear]="true" #stepper orientation="vertical">
    <mat-step [formGroup]="step1Group" label="What's the gig?">
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Task Title</mat-label>
            <input
                matInput
                formControlName="title"
                required
                placeholder="e.g. 'Assemble IKEA shelf'"
            />
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [formGroup]="step2Group" label="Add details">
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Description (optional)</mat-label>
            <textarea
                matInput
                formControlName="description"
                rows="3"
                placeholder="Add details..."
            ></textarea>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [formGroup]="step3Group" label="Budget & Rules">
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Deadline</mat-label>
                <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="deadline" required />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (step3Group.controls.deadline.hasError('required')) {
                <mat-error>Deadline is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Bid Limit (Per Person)</mat-label>
                <input matInput type="number" formControlName="maxBidsPerUser" min="1" max="10" />
                <mat-hint>Max 10 bids/user</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Min Pay ($)</mat-label>
                <input matInput type="number" formControlName="minPay" />
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Max Pay ($)</mat-label>
                <input matInput type="number" formControlName="maxPay" />
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
        </div>

        <div class="actions">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="saveTask()">Post Task</button>
        </div>
    </mat-step>
</mat-stepper>
