/* src/app/my-bids/my-bids.component.scss */
table {
    width: 100%;
}

.loader-state,
.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 150px;
    color: #777;
}

.empty-state mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

/* These are the "catchy" chip colors.
  They are scoped to this component.
*/
.mat-mdc-chip.bid-accepted {
    background-color: #c8e6c9; // A light green
    color: #256029;
}

.mat-mdc-chip.bid-rejected {
    background-color: #ffcdd2; // A light red
    color: #b71c1c;
}
