.review-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    padding-top: 1rem;
}

.hint {
    color: #666;
    margin-bottom: 1rem;
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;

    mat-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
        color: #e0e0e0;
        transition: color 0.2s;

        &.filled {
            color: #ffb300;
        } // Gold color
        &:hover {
            transform: scale(1.1);
        }
    }
}
.full-width {
    width: 100%;
}
