<div class="detail-container">
    <a mat-stroked-button routerLink="/dashboard" class="back-button">
        <mat-icon>arrow_back</mat-icon>
        Back to Dashboard
    </a>

    @if (task()) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ task()?.title }}</mat-card-title>
            <mat-card-subtitle>Status: {{ task()?.status }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>Description</h3>
            <p>{{ task()?.description }}</p>
            <hr />
            <p><strong>Posted by User ID:</strong> {{ task()?.posterUserId }}</p>
        </mat-card-content>
        <mat-card-actions>
            @if (task() && currentUser() && task()!.posterUserId !== currentUser()!.id) {

            <button mat-flat-button color="primary" (click)="openBidDialog()">
                Bid on this Gig
            </button>

            } @else if (task() && currentUser() && task()!.posterUserId === currentUser()!.id) {

            <button mat-flat-button color="primary" [disabled]="true">
                <mat-icon>gavel</mat-icon>
                This is your gig
            </button>

            } @else { }
        </mat-card-actions>
    </mat-card>
    } @else {
    <mat-spinner diameter="80"></mat-spinner>
    }
</div>
