.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
}

mat-card {
    width: 100%;
    max-width: 800px;
}

.back-button {
    align-self: flex-start;
}

.bid-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.bid-amount-field {
    flex-grow: 1; // Make the field take up available space
}

.loader-state {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
