<div class="detail-container">
    <a mat-stroked-button routerLink="/dashboard" class="back-button">
        <mat-icon>arrow_back</mat-icon>
        Back to Dashboard
    </a>

    @if (task()) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ task()?.title }}</mat-card-title>
            @if(poster()) {
            <mat-card-subtitle>
                Posted by: {{ poster()?.firstName }} {{ poster()?.lastName }}
            </mat-card-subtitle>
            }
        </mat-card-header>
        <mat-card-content>
            <div class="task-meta-chips">
                <mat-chip [class.status-open]="task()?.status === 'OPEN'">
                    {{ task()?.status | titlecase }}
                </mat-chip>

                @if (task()?.deadline && task()?.status !== 'COMPLETED') {
                <mat-chip color="warn" highlighted>
                    <mat-icon matChipAvatar>timer</mat-icon>
                    Due: {{ task()?.deadline | date : 'mediumDate' }}
                </mat-chip>
                } @if ((task()?.minPay || task()?.maxPay) && task()?.status !== 'COMPLETED') {
                <mat-chip color="accent" highlighted>
                    <mat-icon matChipAvatar>attach_money</mat-icon>
                    Range: ${{ task()?.minPay }} - ${{ task()?.maxPay }}
                </mat-chip>
                }
            </div>
            <hr />
            <h3>Description</h3>
            <p>{{ task()?.description }}</p>
        </mat-card-content>
        <mat-card-content>
            <h3>Description</h3>
            <p>{{ task()?.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            @if (task()?.status === 'OPEN') { @if (isOwner()) {
            <button mat-flat-button color="accent" (click)="openViewBidsDialog()">
                <mat-icon>visibility</mat-icon>
                View Bids
            </button>
            } @else {
            <button mat-flat-button color="primary" (click)="openBidDialog()">
                Bid on this Gig
            </button>
            } } @else if (task()?.status === 'ASSIGNED') { @if (isWorker()) {
            <button mat-flat-button color="primary" (click)="markAsCompleted()">
                <mat-icon>check_circle</mat-icon>
                Mark as Done
            </button>
            } @else if (isOwner()) {
            <button mat-stroked-button disabled>
                <mat-icon>hourglass_top</mat-icon>
                Work in Progress...
            </button>
            } @else {
            <button mat-button disabled>Gig Assigned</button>
            } } @else if (task()?.status === 'COMPLETED') {
            <button mat-button disabled class="completed-badge">
                <mat-icon>task_alt</mat-icon>
                COMPLETED
            </button>
            }
        </mat-card-actions>
    </mat-card>
    } @else {
    <mat-spinner diameter="80"></mat-spinner>
    }
</div>
